# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

trigger:
- master

pool:
  name: 'Demo-Scale-Sets'

steps:
- script: |
    call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat" -arch=x86 -host_arch=x86
    cl /W4 /WX .\hello.c
    .\hello.exe
